{% extends 'base.html' %}
{% block title %}Post{% endblock %}

{% block content %}
<div>
    <img src="{{ object.image.url }}" class="img-fluid" alt="object.image.name">
    <h3>
        {{ object.description }}
    </h3>
    <p class="text-muted">
        {{ object.date_posted }}
    </p>
</div>
{% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' object.id %}">Delete</a>
          </div>
        {% endif %}
{% endblock %}
